{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Change Password</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('change_pass', user_id=user._id) }}">
            <div class="card-panel">
                <!-- password field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_pass" name="user_pass" type="password" minlenght="8" 
                            maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="user_pass">New Password</label>
                    </div>
                </div>
                <!-- button to save the changes  -->
                <div class="row">
                    <a href="{{ url_for('manage_user', user_name=session['user']) }}" class="col s12 m4 offset-m2 btn-large red darken-4 text-shadow top-spacing">
                        <i class="fas fa-window-close right-pad"></i>Cancel 
                    </a>
                    <button type="submit" class="col s12 m4 offset-m1 btn-large light-blue darken-4 text-shadow top-spacing">
                        <i class="fas fa-save right-pad"></i>Update 
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}