{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">New Project</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('create_project') }}">
            <div class="card-panel">
                <!-- project name field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-list prefix light-blue-text text-darken-4"></i>
                        <input id="project_name" name="project_name" type="text" minlenght="5" 
                            maxlenght="20" class="validate" required>
                        <label for="project_name">Project Name</label>
                        <span class="helper-text left-align" data-error="Must have a minimum of 5 characteres and maximum 20" data-success="Great">Enter the Project Name</span>
                    </div>
                </div>
                <!-- project description  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                        <textarea id="project_description" name="project_description" minlength="5" 
                            maxlength="100" class="materialize-textarea validate" required></textarea>
                        <label for="project_description">Project Description</label>
                        <span class="helper-text left-align" data-error="Minimum of 5 characteres and maximum of 100" data-success="Great">Enter the Project Description</span>
                    </div>
                </div>
                <!-- project target date picker  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                        <input id="project_target_date" name="project_target_date" type="text" class="datepicker validate" required>
                        <label for="project_target_date">Project Target Date</label>
                        <span class="helper-text left-align" data-error="Data Format 25, Sep 2020" data-success="Great">Pick the end date of the Project</span>
                    </div>
                </div>
                <!-- project users selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-check prefix light-blue-text text-darken-4"></i>
                        <select multiple required id="user_name" name="user_name" class="validate">
                            <option value="" disabled>Select Users for the Project</option>
                            {% for user in users %}
                                {% if user.user_name == session.user %}
                                    <option value="{{ user.user_name }}" selected>{{ user.user_name }}</option>
                                {% else %}
                                    <option value="{{ user.user_name }}">{{ user.user_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="user_name">Users</label>
                        <span class="helper-text left-align" data-error="Select at least 1 user" data-success="Great">Select users to access this project</span>
                    </div>
                </div>
                <!-- register button  -->
                <div class="row">
                    <button type="submit" class="col s12 m4 offset-m4 btn-large light-blue darken-4">
                        <i class="fas fa-clipboard-check right-pad"></i>Create Project
                    </button>
                </div>
            </div>
        </form>
    </div>

   
{% endblock %}