{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Dashboard</h3>

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center-align">
                        <h4><strong>Your Projects</strong></h4>
                    </div>
                </div>
                <ul class="collapsible">
                    {% for project in projects %}
                        <li>
                            <div class="collapsible-header white-text light-blue darken-4">
                                <div class="col s2">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                {% if session.category == "manager" %}
                                    <div class="col s5">
                                        <a href="{{ url_for('project_delete_conf', project_name=project.project_name) }}" class="btn-small red darken-1 bottom-spacing">Delete</a>
                                        {% if project.project_archive == "off" %}
                                            <a href="{{ url_for('project_archive_conf', project_name=project.project_name) }}" class="btn-small blue darken-1 bottom-spacing">Archive</a>
                                        {% endif %}
                                    </div>
                                    <div class="col s5">
                                        <strong>Project: </strong>{{ project.project_name }}
                                        <p><strong>Target Date: </strong>{{ project.project_target_date }}</p>
                                        {% if project.project_archive == "off" %}
                                            <p><strong>Status: </strong><em>Active</em></p>
                                        {% else %}
                                        <p><strong>Status: </strong><em>Archived</em></p>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="col s10">
                                        <strong>Project: </strong>{{ project.project_name }}
                                        <p><strong>Target Date: </strong>{{ project.project_target_date }}</p>
                                        {% if project.project_archive == "off" %}
                                            <p><strong>Status: </strong><em>Active</em></p>
                                        {% else %}
                                        <p><strong>Status: </strong><em>Archived</em></p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="collapsible-body">
                                <strong>Description</strong>
                                <p>{{ project.project_description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <!-- Projects assigned to the user -->
                <div class="row">
                    <div class="col s12 center-align">
                        <h4><strong>Tickets</strong></h4>
                    </div>
                </div>
                <ul class="collapsible">
                    {% for ticket in tickets %}
                        <li>
                            <div class="collapsible-header white-text light-blue darken-4">
                                <div class="col s2">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s5">
                                    {% if ticket.ticket_status == "open" %}
                                        <a href="{{ url_for('close_ticket', ticket_id=ticket._id) }}" class="btn-small red darken-2 bottom-spacing">Close</a>
                                        <a href="{{ url_for('edit_ticket', ticket_id=ticket._id) }}" class="btn-small blue darken-1 bottom-spacing">Edit</a>
                                    {% else %}
                                        <a href="{{ url_for('reopen_ticket', ticket_id=ticket._id) }}" class="btn-small orange darken-2 bottom-spacing">Reopen</a>
                                    {% endif %}
                                </div>
                                <div class="col s5">
                                    <strong>Project: </strong>{{ ticket.project_name }}
                                    <p><strong>Category: </strong>{{ ticket.category_name }}</p>
                                    <p><strong>Title : </strong>{{ ticket.ticket_title }}</p>
                                    <p><strong>Status: </strong>{{ ticket.ticket_status }}</p>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <strong>Description</strong>
                                <p>{{ ticket.ticket_description }}</p>
                                <p><em>by: {{ ticket.created_by }}</em></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}