{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Dashboard</h3>
    <div class="row card-panel grey lighten-4 center-align top-spacing">
       {{ user_name }}
    </div>
{% endblock %}