{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Dashboard</h3>

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center-align">
                        <h4><strong>Your Projects</strong></h4>
                    </div>
                </div>
                <ul class="collapsible">
                    {% for project in projects %}
                        <li>
                            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s2">
                                    {% if session.category == "manager" %}
                                        <a href="{{ url_for('project_delete_conf', project_name=project.project_name) }}" class="btn-small green accent-4">Delete</a>
                                        <a href="{{ url_for('project_archive_conf', project_name=project.project_name) }}" class="btn-small light-blue lighten-1">Archive</a>
                                    {% endif %}
                                </div>
                                <div class="col s9">
                                    <strong>Project: {{ project.project_name }}</strong> - Target Date: {{ project.project_target_date }}
                                    {% if project.project_archive == "off" %}
                                        <p><strong><em>Status: Active</em></strong></p>
                                    {% else %}
                                        <p><strong><em>Status: Archived</em></strong></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <strong>Description</strong>
                                <p>{{ project.project_description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <!-- Projects assigned to the user -->
                <div class="row">
                    <div class="col s12 center-align">
                        <h4><strong>Tickets</strong></h4>
                    </div>
                </div>
                <ul class="collapsible">
                    {% for ticket in tickets %}
                        <li>
                            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s2">
                                    <a href="#" class="btn-small green accent-4">Close</a>
                                    <a href="#" class="btn-small light-blue lighten-1">Edit</a>
                                </div>
                                <div class="col s9">
                                    <strong>Project: {{ ticket.project_name }}</strong> - Category: {{ ticket.category_name }}
                                    <p><strong>Title : {{ ticket.ticket_title }}</strong> - Status: {{ ticket.ticket_status }}</p>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <strong>Description</strong>
                                <p>{{ ticket.ticket_description }}</p>
                                <p><em>by: {{ ticket.created_by }}</em></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}