{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <div class="row card-panel grey lighten-4 top-spacing">
        <div class="container">
            <h4 id="topindex">Documentation - Help</h4>
            <h5 class="top-spacing">Index</h5>
            <ul class="top-spacing">
                <li><a href="#Introduction">Introduction</a></li>
                <li><a href="#ruser">Regular User</a></li>
                <li><a href="#amuser">Admin/Manager User</a></li>
                <li><a href="#userreg">User Registration</a></li>
                <li><a href="#userlogin">User Login</a></li>
                <li><a href="#createproj">Create Project</a></li>
                <li><a href="#createticket">Create Ticket</a></li>
                <li><a href="#dashadmin">Dashboard Projects (Admin/Manager)</a></li>
                <li><a href="#dashreg">Dashboard Projects (Regular User)</a></li>
                <li><a href="#dashticket">Dashboard Tickets</a></li>
                <li><a href="#editticket">Edit Ticket</a></li>
                <li><a href="#manuser">Manage User</a></li>
                <li><a href="#edituser">Edit User</a></li>
                <li><a href="#changepass">Change Password</a></li>
            </ul>
            <div class="row top-spacing">
                <a href="{{ url_for('home') }}"  class="col s12 m4 offset-m4 btn-large light-blue darken-4">
                    <i class="fas fa-home right-pad"></i>Home
                </a>
            </div>
        </div>
    </div>
    <div class="row card-panel grey lighten-4 top-spacing">
       <div class="container">
            <div id="Introduction">
                <h5>Introduction</h5>
                <p class="top-spacing">This is a webapp aimed to work as a tool to help the management of Projects and Tickets within a Team. It was designed to be simple and easy to use.</p>
                <img src="static/img/01doc_intro.PNG" alt="Home Page" width="100%">
            </div>
            <div id="ruser">
                <h5 class="top-spacing-double">Regular User</h5>
                <p class="top-spacing">Regular Users have access only to the following essential functionalities on the App:</p>
                <ul>
                    <li>Edit own user Location</li>
                    <li>Change Password</li>
                    <li>Create Tickets</li>
                    <li>Edit, Close and Reopen Tickets</li>
                </ul>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="amuser">
                <h5 class="top-spacing-double">Admin/Manager User</h5>
                <p class="top-spacing">The Admin/Manager has access to all functionalities of the Regular User and the following extra ones:</p>
                <ul>
                    <li>Search, Edit another Users (This include upgrading another user to the Manager Category)</li>
                    <li>Change own's and another users' Password</li>
                    <li>Create Projects and select who will be working on it</li>
                    <li>Archive or Delete Projects with its Tickets</li>
                </ul>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="userreg">
                <h5 class="top-spacing-double">User Registration</h5>
                <p class="top-spacing">Every user when registered at first is automatically placed into the Regular category for security reasons. 
                    Only the Manager has the power to include this new user in a project or transform this new user into another Manager.<br>
                    Also by default after a user is created he is required to login to enter the App.
                </p>
                <p><img src="static/img/02doc_register.PNG" alt="Register User Screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="userlogin">
                <h5 class="top-spacing-double">User Login</h5>
                <p class="top-spacing">The Login form validates user and encripted password. There is an extra option for demonstration purposes where a user 
                    after creating its own login (that will be on the Regular Category) can also login as an "Admin" to include the user in a Project and 
                    check how the Manager sees the system.
                </p>
                <p><img src="static/img/03doc_login.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing">When logging in with a regular user, there will be a greeting and a warning informing to contact the manager to be included 
                    in a Project. This way the system is safe of anybody creating users and deleting/creating data from the Database.
                </p>
                <p><img src="static/img/04doc_regular1stlogin.PNG" alt="Regular user 1st login" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="createproj">
                <h5 class="top-spacing-double">Create Project</h5>
                <p class="top-spacing">This option is only for Admin/Manager. When opening this form, the Manager will already be included on the project and can 
                    include additional users to complete the Team working on the Project.
                </p>
                <p><img src="static/img/05doc_admin_create_project.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="createticket">
                <h5 class="top-spacing-double">Create Ticket</h5>
                <p class="top-spacing">This option is available to every user that has a Project assigned. The ticket created will be automatically assigned to the 
                    user that is creating it. There is the Edit option on the Dashboard later if there is the necessity to assign it to anybody else from the team.
                </p>
                <p><img src="static/img/06doc_create_ticket.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="dashadmin">
                <h5 class="top-spacing-double">Dashboard Projects (Admin/Manager)</h5>
                <p class="top-spacing">As a Manager all Projects will have the option to be Archived (It will also close all tickets related to it) and the option 
                    to Delete (It will also delete all tickets related to it). The Manager is the only one able to Archive or Delete Projects.<br>
                    The Dashboard also contains the weather information of the user location and Total of Projects and its Tickets.
                </p>
                <p><img src="static/img/07_1doc_dashboard_projects_admin.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="dashreg">
                <h5 class="top-spacing-double">Dashboard Projects (Regular User)</h5>
                <p class="top-spacing">Regular Users are able to see the information of the Projects they are assigned, but they are not able to take any action as 
                    Archive and Delete are only for Admin/Manager Users.<br>
                    The Dashboard also contains the weather information of the user location and Total of Projects and its Tickets.
                </p>
                <p><img src="static/img/07_2doc_dashboard_project_regular.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="dashticket">
                <h5 class="top-spacing-double">Dashboard Tickets</h5>
                <p class="top-spacing">The tickets are shown to all users assigned to the related Projects. They are classified in 3 different colours:<br>
                    Blue: Tickets assigned to another member of the Team.<br>
                    Green: Tickets assigned to own user.<br>
                    Grey: Tickets closed.<br>
                </p>
                <p><img src="static/img/07_3doc_dashboard_tickets.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="editticket">
                <h5 class="top-spacing-double">Edit Tickets</h5>
                <p class="top-spacing">Tickets can be edited through the "Edit" button on the Dashboard part for them. At this place the ticket can be assigned to 
                    another user if necessary.
                </p>
                <p><img src="static/img/07_4doc_edit_ticket.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="manuser">
                <h5 class="top-spacing-double">Manage User</h5>
                <p class="top-spacing">As a Admin/Manager, it will be able to search for another users and select them to Edit or change Password.
                </p>
                <p><img src="static/img/08doc_manage_user_admin.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing">As a Regular user, the search functionality is not available and it is possible to Edit or change Password of its own User.
                </p>
                <p><img src="static/img/08doc_manage_user_regular.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="edituser">
                <h5 class="top-spacing-double">Edit User</h5>
                <p class="top-spacing">As a Admin/Manager, it will be able change user Location and upgrade the user to "Manager" if necessary.
                </p>
                <p><img src="static/img/09doc_edit_user_admin.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing">As a Regular user, it can only change the user Location to have a weather update of the place they are working.
                </p>
                <p><img src="static/img/09doc_edit_user_regular.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
            <div id="changepass">
                <h5 class="top-spacing-double">Change Password</h5>
                <p class="top-spacing">Regular Users are able to change its own password. If an user is not able to remember his password, an Admin/Manager is able 
                    to reset it.
                </p>
                <p><img src="static/img/10doc_change_password.PNG" alt="Login screen" width="100%"></p>
                <p class="top-spacing"><a href="#topindex">Back to the Index</a></p>
            </div>
       </div>
    </div>
    
{% endblock %}