{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="../static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Edit User</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_user', user_id=user._id) }}">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_name" name="user_name" type="text" minlenght="5" 
                            value="{{ user.user_name }}" maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" disabled required>
                        <label for="user_name">Username</label>
                        <span class="helper-text" data-error="Username cannot be changed" data-success="Great">Username cannot be changed</span>
                    </div>
                </div>
                {% if session.category == "manager" %}
                    <!-- user category -->
                    <div class="input-field col s12">
                        <select id="user_category" name="user_category" required>
                            <option value="" disabled selected>Choose the category</option>
                            <!-- verify the user category and selects the appropriated one -->
                            {% if user.user_category == "regular" %}
                                <option value="regular" selected>Regular</option>
                                <option value="manager">Manager</option>
                            {% else %}
                                <option value="regular">Regular</option>
                                <option value="manager" selected>Manager</option>
                            {% endif %}
                        </select>
                        <label>User Category</label>
                        <span class="helper-text" data-error="Please select a category" data-success="Great">Choose the user category</span>
                    </div>
                {% endif %}
                 <!-- user city field -->
                 <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_city" name="user_city" type="text" minlenght="2" 
                            value="{{ user.user_city }}" maxlenght="30" pattern="^[a-zA-Z ]{2,30}$" class="validate" required>
                        <label for="user_city">Location (City)</label>
                        <span class="helper-text" data-error="Please inform the name of the city you are now" data-success="Great">City you are located now</span>
                    </div>
                </div>
                <!-- user country selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-check prefix light-blue-text text-darken-4"></i>
                        <select id="user_country" name="user_country" class="validate" required>
                            <option value="{{ user.user_country }}" selected>Country code: {{ user.user_country }}</option>
                            <option value="AR">Argentina</option>
                            <option value="AU">Australia</option>
                            <option value="BE">Belgium</option>
                            <option value="BR">Brazil</option>
                            <option value="CA">Canada</option>
                            <option value="CL">Chile</option>
                            <option value="CZ">Czechia</option>
                            <option value="FR">France</option>
                            <option value="DE">Germany</option>
                            <option value="IN">India</option>
                            <option value="IE">Ireland</option>
                            <option value="IT">Italy</option>
                            <option value="JP">Japan</option>
                            <option value="NL">Netherlands</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="ZA">South Africa</option>
                            <option value="ES">Spain</option>
                            <option value="SE">Sweden</option>
                            <option value="AE">UAE</option>
                            <option value="UK">UK</option>
                            <option value="US">USA</option>
                        </select>
                        <label for="user_country">Country Location</label>
                        <span class="helper-text" data-error="Please select the country you are located" data-success="Great">Country you are located now - Just change if necessary</span>
                    </div>
                <!-- button to save the changes  -->
                {% if session.user == "admintest" %}
                    <div class="row">
                        <a href="{{ url_for('manage_user', user_name=session['user']) }}" class="col s12 m4 offset-m4 btn-large red darken-4 top-spacing">
                            <i class="fas fa-window-close right-pad"></i>Cancel 
                        </a>
                    </div>
                    <div class="center-align row">
                        <h6 class="red-text"><strong>For security reasons this user cannot complete this operation.</strong></h6>
                    </div>
                {% else %}
                    <div class="row">
                        <a href="{{ url_for('manage_user', user_name=session['user']) }}" class="col s12 m4 offset-m2 btn-large red darken-4 top-spacing">
                            <i class="fas fa-window-close right-pad"></i>Cancel 
                        </a>
                        <button type="submit" class="col s12 m4 offset-m1 btn-large light-blue darken-4 top-spacing">
                            <i class="fas fa-save right-pad"></i>Update 
                        </button>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}