{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="../static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Edit Ticket</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_ticket', ticket_id=ticket_id) }}">
            <div class="card-panel">
                <!-- ticket title field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-ticket-alt prefix light-blue-text text-darken-4"></i>
                        <input id="ticket_title" name="ticket_title" type="text" minlenght="5" 
                            value="{{ ticket.ticket_title }}" maxlenght="20" class="validate" required>
                        <label for="ticket_title">Ticket Title</label>
                        <span class="helper-text left-align" data-error="Must have a minimum of 5 and a maximum of 20 characters" data-success="Great">Write the ticket title</span>
                    </div>
                </div>
                <!-- ticket description  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                        <textarea id="ticket_description" name="ticket_description" minlength="5" 
                            maxlength="250" class="materialize-textarea validate" required>
                            {{- ticket.ticket_description -}}
                        </textarea>
                        <label for="ticket_description">Ticket Description</label>
                        <span class="helper-text left-align" data-error="Must have a minimum of 5 and a maximum of 250 characters" data-success="Great">Write the ticket description</span>
                    </div>
                </div>
                <!-- category selection  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-tag prefix light-blue-text text-darken-4"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="{{ ticket.category_name }}" selected>{{ ticket.category_name }}</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Ticket Category</label>
                        <span class="helper-text left-align" data-error="Select the ticket category" data-success="Great">Select the ticket category</span>
                    </div>
                </div>
                <!-- project seletcion  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-check prefix light-blue-text text-darken-4"></i>
                        <select id="project_name" name="project_name" class="validate" required>
                            <option value="{{ ticket.project_name }}" selected>{{ ticket.project_name }}</option>
                            {% for project in projects %}
                                {% if project.user_name == session.user %}
                                    {% if project.project_archive == "off" %}
                                        <option value="{{ project.project_name }}">{{ project.project_name }}</option>
                                    {% else %}
                                        <option value="{{ project.project_name }}" disabled>{{ project.project_name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="project_name">Project</label>
                        <span class="helper-text left-align" data-error="Select at least one project" data-success="Great">Select the project</span>
                    </div>
                </div>
                <!-- ticket assigned  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clipboard-check prefix light-blue-text text-darken-4"></i>
                        <select id="assigned_to" name="assigned_to" class="validate" required>
                            <option value="{{ ticket.assigned_to }}" selected>{{ ticket.assigned_to }}</option>
                            {% for user in proj_users %}
                                <option value="{{ user.user_name }}">{{ user.user_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="assigned_to">Assigned to</label>
                        <span class="helper-text left-align" data-error="Choose the user to be assigned" data-success="Great">Choose the user to be assigned</span>
                    </div>
                </div>
                <!-- Cancel or Update buttons  -->
                <div class="row">
                    <a class="col s12 m3 offset-m2 btn-large red darken-4" href="{{ url_for('dashboard', user_name=session['user']) }}">
                        <i class="fas fa-window-close right-pad"></i>Cancel
                    </a>
                    <button type="submit" class="col s12 m3 offset-m2 btn-large light-blue darken-4">
                        <i class="fas fa-check-square right-pad"></i>Update
                    </button>
                </div>
            </div>
        </form>
    </div>

   
{% endblock %}