{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Edit User</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_user', user_id=user._id) }}">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_name" name="user_name" type="text" minlenght="5" 
                            maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="user_name">Username</label>
                    </div>
                </div>
                <!-- user category -->
                <div class="input-field col s12" required>
                    <select>
                      <option value="" disabled selected>Choose your option</option>
                      <option value="regular">Regular</option>
                      <option value="manager">Manager</option>
                    </select>
                    <label>User Category</label>
                </div>
                <!-- register button  -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        <i class="fas fa-save"></i> Update 
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}