{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}


{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}


{% block content %}
    <h3 class="center-align">Log In</h3>

    <div class="row top-spacing">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_name" name="user_name" type="text" minlenght="5" 
                            maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            class="validate" required>
                        <label for="user_name">Username</label>
                        <span class="helper-text" data-error="Sorry, try again" data-success="Great">Please enter your username</span>
                    </div>
                </div>
                <!-- password field  -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="user_pass" name="user_pass" type="password" minlenght="8" 
                            maxlenght="15" pattern="^[a-zA-Z0-9!&$%*#]{8,15}$" class="validate" required>
                        <label for="user_pass">Password</label>
                        <span class="helper-text" data-error="Sorry, try again" data-success="Great">Please enter your password</span>
                    </div>
                </div>
                <!-- Login button  -->
                <div class="row">
                    <button type="submit" class="col s12 m4 offset-m4 btn-large light-blue darken-4">
                        <i class="fas fa-sign-in-alt right-pad"></i>Log in
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not yet Registered?
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register</a>
            </p>
            <h6 class="center-align">Login as <a href="{{ url_for('admin_login') }}" style="color: red;">Admin</a> for demostration.
            </h6>
        </div>
    </div>
{% endblock %}