{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Manage Users</h3>

    <div class="col s12 card-panel grey lighten-5 top-spacing">
        <form action="{{ url_for('search_user') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix text-darken-4"></i>
                    <input type="text" name="query" minlength="3" id="query" class="validate" required>
                    <label for="query">Search Users</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('manage_user', user_name=session['user']) }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="btn light-blue darken-1 text-shadow">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <!-- username field -->
                <div class="row">
                    <div class="col s12 offset-m2">
                        <h5><strong>Username: </strong> {{ user_reg.user_name }}</h5>
                    </div>
                </div>
                <!-- user category -->
                <div class="row">
                    <div class="col s12 offset-m2">
                        <h5><strong>Category: </strong> {{ user_reg.user_category }}</h5>
                    </div>
                </div>
                <!-- Update button  -->
                <div class="row">
                    <a href="{{ url_for('edit_user', user_id=user_reg._id) }}" class="col s12 m3 offset-m2 btn-large light-blue darken-4 text-shadow top-spacing">
                        <i class="fas fa-user-edit right-pad"></i>Edit user...
                    </a>
                    <button type="submit" class="col s12 m3 offset-m2 btn-large light-blue darken-4 text-shadow top-spacing">
                        <i class="fas fa-user-shield right-pad"></i>Change Password...
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}