{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="../static/img/bugtrackerlogolight.svg" height="50" width="50" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">Manage User</h3>

    {% if session.category == "manager" %}
        <div class="col s12 card-panel grey lighten-5 top-spacing">
            <form action="{{ url_for('search_user') }}" method="POST" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix text-darken-4"></i>
                        <input type="text" name="query" minlength="3" id="query" class="validate" required>
                        <label for="query">Search Users</label>
                        <span class="helper-text left-align" data-error="Username not found" data-success="Great">Enter the correct username and press Search</span>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('manage_user', user_name=session['user']) }}" class="red btn bottom-spacing">Reset</a>
                        <button type="submit" class="btn light-blue darken-1  bottom-spacing">
                            <i class="fas fa-search left"></i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                {% if user_reg %}
                    <!-- username field -->
                    <div class="row">
                        <div class="col s12 offset-m2">
                            <h5><strong>Username: </strong> {{ user_reg.user_name }}</h5>
                        </div>
                    </div>
                    <!-- user category -->
                    <div class="row">
                        <div class="col s12 offset-m2">
                            <h5><strong>Category: </strong> {{ user_reg.user_category }}</h5>
                        </div>
                    </div>
                    <!-- Update button  -->
                    <div class="row">
                        <a href="{{ url_for('edit_user', user_id=user_reg._id) }}" class="col s12 m3 offset-m2 btn-large light-blue darken-4 top-spacing">
                            <i class="fas fa-user-edit right-pad"></i>Edit user...
                        </a>
                        {% if user_reg.user_name == "managertest" %}
                            <button class="col s12 m3 offset-m2 btn-large grey darken-2 top-spacing" disabled data-tooltip="Admin password cannot be changed" data-position="bottom">
                                <i class="fas fa-user-shield right-pad"></i>Change Password
                            </button>
                        {% else %}
                            <a href="{{ url_for('change_pass', user_id=user_reg._id) }}" class="col s12 m3 offset-m2 btn-large light-blue darken-4 top-spacing">
                                <i class="fas fa-user-shield right-pad"></i>Change Password...
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    {% if session.category == "manager" %}
                        <div class="row">
                            <div class="col s12 center-align">
                                <h5>Search for a user above or click Reset to see your own information.</h5>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}