{% extends "base.html" %}

{% block styles %}
    <link rel="shortcut icon" href="../static/img/bugtrackerlogodark.svg" type="image/x-icon">
{% endblock %}

{% block logo %}
    <a href="{{ url_for('home') }}" class="brand-logo" style="padding-left: 20px; padding-top: 5px;"><img src="..\static\img\bugtrackerlogolight.svg" height="50px" width="50px" alt="Bug Tracker Logo"></a>
{% endblock %}

{% block content %}
    <h3 class="center-align">WARNING</h3>

    <div class="row top-spacing">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center-align">
                        <h4><strong>Please confirm if the project "{{ project_name }}" can be deleted</strong></h4>
                    </div>
                    <div class="col s12 center-align">
                        <h6 class="text-red center-align"><strong>Confirming the deletion of the project will also 
                            delete all tickets connected to it.</strong></h6>
                    </div>
                    <div class="row">
                        <a href="{{ url_for('dashboard', user_name=session['user']) }}" class="col s12 m3 offset-m2 btn-large red darken-4 top-spacing">
                            <i class="fas fa-window-close right-pad"></i>Cancel
                        </a>
                        <a href="{{ url_for('delete_project', project_name=project_name) }}" class="col s12 m3 offset-m2 btn-large light-blue darken-4 top-spacing">
                            <i class="fas fa-check-square right-pad"></i>Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}